Repository AlexWayfer/flame-cli: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    image: ruby:2.7
  environment:
  ...

Setup `rbenv` and `nodenv` for `rspec` CI task
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Return Ruby 2.6 support for the gem itself
  .rubocop.yml
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Delete `.ruby-version` file inside template, now there is a `rbenv` setup
  template/.ruby-version
Due: none

Change Linux distribution from `alpine` to `fedora` for `rspec` CI task
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Install `git` and `which` required for `rbenv` and `nodenv`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Improve OS setup script for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Change Docker image from `fedora` to `ruby` for `rspec` CI task
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Fix `rbenv` and `nodenv` in `rspec` CI task
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Don't establish database connection without models
  flame-cli.gemspec
  spec/flame/cli/new/app_spec.rb
  template/application.rb.erb
Due: bundle-audit, rubocop, rspec

Comment `import 'core-js/'` code, it's not always necessary
  template/assets/scripts/main.js
  template/package.json
Due: none

Cache `rbenv` and `nodenv` in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Make `rbenv` and `nodenv` cache uploading always
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Increase waiting for application start in specs
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Rescue an exception in tests when server already stopped
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Remove `cat ~/.bashrc` in CI for debugging
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Fix `~/.bashrc` for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update dependencies
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Add `systemd` service example
  template/config/systemd.example.service.erb
Due: none

Update `remark` to new major version
  .remarkrc.yaml
  package.json
Due: remark

Replace SCSS with PostCSS
  template/assets/styles/_colors.pcss
  template/assets/styles/_colors.scss
  template/assets/styles/_fonts.pcss
  template/assets/styles/_fonts.scss
  template/assets/styles/_sizes.pcss
  template/assets/styles/_sizes.scss
  template/assets/styles/components/_flash.pcss
  template/assets/styles/components/_footer.pcss
  template/assets/styles/components/_footer.scss
  template/assets/styles/components/_forms.pcss
  template/assets/styles/components/_header.pcss
  template/assets/styles/components/_header.scss
  template/assets/styles/components/_page.pcss
  template/assets/styles/lib/_breakpoints.pcss
  template/assets/styles/lib/_breakpoints.scss
  template/assets/styles/lib/_clear-fix.pcss
  template/assets/styles/lib/_disable-password-autocomplete.pcss
  template/assets/styles/lib/_disable_password_autocomplete.scss
  template/assets/styles/lib/_headings.scss
  template/assets/styles/lib/_input-with-clear-button.pcss
  template/assets/styles/lib/_input_with_clear_button.scss
  template/assets/styles/lib/_inputs-with-types.pcss
  template/assets/styles/lib/_inputs_with_types.scss
  template/assets/styles/lib/_small-and-large-elements.pcss
  template/assets/styles/lib/_small_and_large_elements.scss
  template/assets/styles/lib/_sticky-footer.pcss
  template/assets/styles/lib/_sticky_footer.scss
  template/assets/styles/main.pcss
  template/assets/styles/main.scss
  template/package.json
  template/postcss.config.js
Due: none

Allow Ruby 3 in gem specs
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Update README setup instructions
  template/README.md.erb
Due: none

Simplify Filewatcher YAML patterns
  template/filewatchers.yaml
Due: none

Support Ruby 3
  .rubocop.yml
  flame-cli.gemspec
  template/Gemfile
  template/spec/spec_helper.rb
Due: bundle-audit, rubocop, rspec

Create regular `.service` config files in specs
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Update development dependencies
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Trigger `rspec` CI task on changes inside `template/`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Switch from GitHub gems versions to RC ones
  template/Gemfile
Due: none

Resolve warnings in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Fix `stylelint` in specs
  template/.stylelintrc.yaml
Due: none

Replace `rollup` with `esbuild`
  spec/flame/cli/new/app_spec.rb
  template/filewatchers.yaml
  template/package.json
  template/rollup.config.js.erb
Due: rubocop, rspec

Remove `simplify-js`
  template/package.json
Due: none

Change unreleased header in CHANGELOG
  CHANGELOG.md
Due: remark

Update template to a new assets packages and rules
  template/.stylelintrc.yaml
  template/assets/styles/_colors.scss
  template/assets/styles/_fonts.scss
  template/assets/styles/_sizes.scss
  template/assets/styles/components/_flash.scss
  template/assets/styles/components/_footer.scss
  template/assets/styles/components/_forms.scss
  template/assets/styles/components/_header.scss
  template/assets/styles/components/_page.scss
  template/assets/styles/lib/_clear-fix.scss
  template/assets/styles/lib/_disable-password-autocomplete.scss
  template/assets/styles/lib/_disable_password_autocomplete.scss
  template/assets/styles/lib/_headings.scss
  template/assets/styles/lib/_input-with-clear-button.scss
  template/assets/styles/lib/_input_with_clear_button.scss
  template/assets/styles/lib/_inputs-with-types.scss
  template/assets/styles/lib/_inputs_with_types.scss
  template/assets/styles/lib/_small-and-large-elements.scss
  template/assets/styles/lib/_small_and_large_elements.scss
  template/assets/styles/lib/_sticky-footer.scss
  template/assets/styles/main.scss
  template/package.json
Due: none

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru)
  rspec: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**)
