Repository AlexWayfer/flame-cli: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru)
  rspec: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**)

Exclude ignored by git files for RuboCop in template
  template/.rubocop.yml.erb
Due: none

Update metadata in gemspec
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Update `toys` development dependency
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Lock RuboCop version better
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Resolve RuboCop offenses in template
  template/config/puma.rb.erb
  template/controllers/_controller.rb.erb
  template/mailers/_base.rb.erb
Due: none

Resolve Stylelint offenses
  template/.stylelintrc.yaml
  template/assets/styles/_colors.scss
  template/assets/styles/_sizes.scss
  template/assets/styles/components/_forms.scss
  template/assets/styles/components/_page.scss
  template/assets/styles/lib/_breakpoints.scss
  template/assets/styles/lib/_inputs-with-types.scss
  template/assets/styles/main.scss
  template/package.json
Due: none

Resolve `net-smtp` dependency error
  template/Gemfile
Due: none

Resolve RuboCop offenses
  template/config/processors/sentry.rb.erb
  template/config/processors/sequel.rb.erb
Due: none

Replace `flame-raven_context` with `flame-sentry_context`
  spec/flame/cli/new/app_spec.rb
  template/Gemfile
  template/assets/scripts/sentry.js
  template/config/processors/r18n.rb.erb
  template/config/processors/sentry.rb.erb
  template/config/puma.rb.erb
  template/controllers/_controller.rb.erb
  template/mailers/mail/_base.rb.erb
  template/package.json
  template/views/site/layout.html.erb.erb
Due: rubocop, rspec

Enable RSpec `--only-fail` feature
  .gitignore
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Speed up specs
  .rubocop.yml
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Add template testing into specs
  spec/flame/cli/new/app_spec.rb
  template/.rspec
  template/spec/integration/spec_helper.rb.erb
Due: rubocop, rspec

Remove `depends_on` for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
  template/README.md.erb
Due: remark, bundle-audit, rubocop, rspec

Change RSpec output format to `doc`
  .rspec
Due: rspec

Improve project setup at initialization
  lib/flame/cli/new/app.rb
  template/exe/setup.sh
Due: rubocop, rspec

Improve error page headers styles for template
  template/assets/styles/components/_page.scss
Due: none

Suppress git config hints in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update dependencies and fix specs
  flame-cli.gemspec
  lib/flame/cli/new/app.rb
  spec/flame/cli/new/app_spec.rb
  template/.toys/.toys.rb.erb
  template/Gemfile
  template/README.md.erb
  template/config.ru.erb
  template/config/session.example.yaml
  template/exe/setup/ruby.sh
Due: bundle-audit, rubocop, rspec

Add forgotten `session.yaml` config file
  template/config/session.example.yaml.erb
Due: none

Add forgotten `.npmrc` config file
  template/.npmrc
Due: none

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  flame-cli.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Suppress Ruby-image-linux warnings about `apt`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Move `git clone` under `source` for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Resolve new RuboCop offense
  template/application.rb.erb
Due: none

Resolve new RuboCop offenses in template
  template/application.rb.erb
Due: none

Move development dependencies from gemspec into Gemfile
  Gemfile
  flame-cli.gemspec
Due: bundle-audit, rubocop, rspec

Fix test command in the README
  README.md
Due: remark

Replace `pnpm install` with `update`
  template/exe/setup/node.sh
  template/filewatchers.yaml
Due: none

Ignore new Stylelint offenses
  template/assets/styles/lib/_breakpoints.scss
Due: none

Resolve new RuboCop offense
  lib/flame/cli/new/app/process_files/render_variables.rb
Due: rubocop, rspec

Return Stylelint rules via `stylistic`
  template/.stylelintrc.yaml
  template/package.json
Due: none
