Repository AlexWayfer/flame-cli: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[5bfb9cd3d53a72c8423ce1b84b18cf7d30fbdcf3a56a25f9cd79dbdff1c3552542578272db8088ec27d7de7f2c363d72]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Update a template again
  .rubocop.yml
  .toys.rb
  flame-cli.gemspec
  spec/flame/cli/new/app_spec.rb
  template/.eslintrc.yaml
  template/.remarkrc.yaml
  template/.stylelintrc.yaml
  template/.toys/.toys.rb.erb
  template/Gemfile
  template/application.rb.erb
  template/assets/scripts/.eslintrc.yaml
  template/babel.config.json
  template/browserslist
  template/config/base.rb.erb
  template/config/full.rb.erb
  template/config/main.rb.erb
  template/config/processors/sentry.rb.erb
  template/config/processors/server.rb.erb
  template/config/puma.rb.erb
  template/config/server.example.yaml
  template/constants.rb.erb
  template/exe/setup/node.sh
  template/filewatchers.yaml
  template/lib/flame/raven_context.rb
  template/mailers/mail/_base.rb.erb
  template/rollup.config.js.erb
Due: rubocop, rspec

Add tests via `rack-test`, update code a bit
  template/.rubocop.yml
  template/Gemfile
  template/config.ru.erb
  template/config/processors/sentry.rb.erb
  template/lib/flame/raven_context.rb
  template/lib/flame/raven_context/patch.rb
  template/routes.rb.erb
  template/spec/integration/index_spec.rb
  template/spec/integration/spec_helper.rb
  template/spec/spec_helper.rb
Due: rubocop

Drop extra `TargetRubyVersion` for RuboCop
  template/.rubocop.yml
Due: none

Delete unused `rubocop` toys tool
  template/.toys/.toys.rb.erb
Due: none

Use `pnpm run` instead of `npm run`
  template/package.json
Due: none

Update setup instruction in the README
  template/README.md.erb
Due: none

Don't use extra `Bundler.with_unbundled_env` in specs
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Update template again
  spec/flame/cli/new/app_spec.rb
  template/.eslintignore
  template/.gitignore
  template/.toys/.toys.rb.erb
  template/Gemfile
  template/application.rb.erb
  template/assets/scripts/application.js
  template/assets/scripts/main.js
  template/assets/styles/_colors.scss
  template/assets/styles/_sizes.scss
  template/config.ru.erb
  template/config/main.rb.erb
  template/config/puma.rb.erb
  template/controllers/site/index_controller.rb.erb
  template/filewatchers.yaml
  template/package.json
  template/postcss.config.js
  template/rollup.config.js.erb
  template/routes.rb.erb
  template/spec/integration/spec_helper.rb
  template/views/site/layout.html.erb.erb
Due: rubocop, rspec

Add `--domain` option
  lib/flame/cli/new/app.rb
  template/config/mail.example.yaml.erb
  template/config/sentry.example.yaml.erb
Due: rubocop, rspec

Fix path to index from 404 view
  spec/flame/cli/new/app_spec.rb
  template/views/site/errors/404.html.erb.erb
Due: rubocop, rspec

Simplify `constants.rb`
  spec/flame/cli/new/app_spec.rb
  template/constants.rb.erb
Due: rubocop, rspec

Add small helper JS script for custom confirmations on forms submitting
  template/assets/scripts/main.js
Due: none

Update styles, especially for forms
  template/assets/styles/_sizes.scss
  template/assets/styles/components/_forms.scss
  template/assets/styles/lib/_inputs_with_types.scss
  template/assets/styles/main.scss
Due: none

Redirect Puma output into file for production environment
  template/config/server.example.yaml
Due: none

Add forgotten `highlighted_backtrace_for(exception)` for 500 error page
  template/controllers/site/_controller.rb.erb
Due: none

Fix code documentation a bit
  template/controllers/site/index_controller.rb.erb
Due: none

Move `git pull` commands from `setup.sh` to `update.sh`
  template/exe/setup.sh
  template/exe/update.sh
Due: none

Add forgotten locales for errors pages
  template/locales/en.yaml
Due: none

Improve arrays of assets in `layout.html.erb`
  template/views/site/layout.html.erb.erb
Due: none

Replace relative path for Puma's UNIX socket with `/run`
  spec/flame/cli/new/app_spec.rb
  template/config/server.example.yaml
Due: rubocop, rspec

Fix general assets linting, add specs for this
  spec/flame/cli/new/app_spec.rb
  template/package.json
Due: rubocop, rspec

Fix `@app_name` render in `configserver.example.yaml`
  template/config/server.example.yaml.erb
Due: none

Merge inherited `Include` and `Exclude` in RuboCop config
  .rubocop.yml
  template/.rubocop.yml
Due: rubocop

Replace `<%= "<\%` with `<%%`
  spec/flame/cli/new/app_spec.rb
  template/views/site/errors/400.html.erb.erb
  template/views/site/errors/404.html.erb.erb
  template/views/site/errors/500.html.erb.erb
  template/views/site/layout.html.erb.erb
Due: rubocop, rspec

Add `nginx` config example files
  spec/flame/cli/new/app_spec.rb
  template/config/nginx/site.example.conf.erb
  template/config/nginx/snippets/ssl-params.conf
  template/config/nginx/snippets/ssl.example.conf.erb
Due: rubocop, rspec

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Add `bundle audit` dependency and CI task
  .cirrus.yaml
  flame-cli.gemspec
  template/Gemfile
Due: rubocop, rspec

Fix `setup/ruby` script in tests, avoid current Bundler
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Add `bundle audit` spec for generated application
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Fix duplicate `bundler-audit` gem in template
  template/Gemfile
Due: none

Add `<header>` and `<footer>` into `site/layout`
  lib/flame/cli/new/app.rb
  template/assets/styles/_colors.scss
  template/assets/styles/components/_footer.scss
  template/config/site.example.yaml.erb
  template/views/site/layout.html.erb.erb
Due: rubocop, rspec

Add specs for `--domain` option
  .rubocop.yml
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Add `--project-name` option for `new app` CLI
  lib/flame/cli/new/app.rb
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Simplify `new app generation` specs
  spec/flame/cli/new/app_spec.rb
Due: rubocop, rspec

Lock template to the latest Ruby version
  .cirrus.yaml
  template/.ruby-version
Due: none

Improve required Ruby version lock, avoid 3.0
  flame-cli.gemspec
Due: rubocop, rspec

Update required Ruby version to 2.7 as template requires
  .rubocop.yml
  flame-cli.gemspec
Due: rubocop, rspec

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yaml
  .toys.rb
Due: rubocop

Use default `ruby` image for `rubocop` CI task
  .cirrus.yaml
Due: none

Move glob files patterns in `rspec` CI task to a separate line
  .cirrus.yaml
Due: none
